
$p-color:rgb(90, 90, 90);
$btn-t:rgb(255, 66, 91);
$span-bg:rgb(255, 66, 91);
$span-color:white;
$font:Arial, Helvetica, sans-serif;

*{
    padding:0;
    margin: 0;
}

body{
    background-color:rgb(255, 255, 255);
}

.container{
    max-width: 95%;
    background-color: rgb(255, 235, 239);
    position: relative;
    left:calc(50% - 47.5%);
}
@mixin step {
    position: relative;
    width:100%;
display: grid;
grid-template-columns: 50% 50%;
}
@mixin  step-img {
    width:50%;
    height: 400px;
    margin-top:110px;
}
@mixin book {
    position: relative;
   width:55%;
   left:calc(50% - 27.5%);
   height: 450px;
   background-color: white;
   padding: 5px;
   box-shadow: 5px 3px 5px rgb(211, 211, 211), -5px -3px 5px rgb(177, 177, 177);
   margin-top: 20px;
}
@mixin book-right {
    position: relative;
    width:55%;
    left:calc(50% - 27.5%);
    height: 450px;
    background-color: white;
    padding: 5px;
    box-shadow: 5px 3px 5px rgb(211, 211, 211);
    margin-top: 20px;
    &::before{
        content: " ";
        position: absolute;
        width: 56%;
        height: 490px;
        margin-top: -20px;
        background-color: rgb(230, 230, 230);
        transform: skewY(2deg) perspective(1000px) rotateY(45deg);
        transform-style: preserve-3d;
        left:-170px;
    }
}
@mixin book-left {
    position: relative;
    width:55%;
    left:calc(50% - 40.5%);
    height: 450px;
    background-color: white;
    padding: 5px;
    box-shadow: -5px -3px 5px rgb(211, 211, 211);
    margin-top: 30px;
    &::before{
        content: " ";
        position: absolute;
        width: 230px;
        height: 495px;
        margin-top: -20px;
        background-color: rgb(230, 230, 230);
        transform: skewY(2deg) perspective(1000px) rotateY(-45deg);
        transform-style: preserve-3d;
        right:-190px;
    }
}


@mixin  cols {
    padding:20px 0;
    text-align: center;
}

@mixin textarea {
    width: 80%;
    padding: 5px;
  margin-top: 100px;
  border-color:rgb(248, 102, 127);
  border-style:dotted;
  border-width: 2px;
  outline: none;
}
@mixin book-span {
    position: absolute;
    width:30px;
    height: 25px;
    padding: 5px;
    color:$span-color;
    background-color: $span-bg;
    font-weight: bold;
    font-family:$font;
    top:17%;

}

@mixin fc {
    position: relative;
    top:30px;
    padding:10px;
    div{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: -20px;
        input{
            width:80px;
            position: absolute;
            margin-left:10px;
        }
      
    }
    button{
        padding: 5px;
        width: 190px;
        color:white;
        background-color: $btn-t;
        border:none;
        outline: none;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 3px;
    }
}


.step{
@include step;
.col1{
   @include cols;
    img{
      @include step-img;
    }
}
.col2{
   @include cols;

   //the head-write
    h1{
        font-family: $font;
        text-transform: uppercase;
    }

    //p tags
    p{
        font-family: $font;
        color:$p-color;
    }
}

//the card
.book{
@include book;
}

#book{
    @include book-right;
}

#book-left{
@include book-left;
}
//text areas in card
textarea{
@include textarea;
}
span{
    @include book-span;
}
.fc{
     @include fc;
}
}
.last{
    position: relative;
    width:100%;
    margin-top:50px;
    .head{
        padding:10px;
        text-align: center;
        font-family: $font;
        h1{
            text-transform: uppercase;
        }
        p{
            color:$p-color;
            margin-top:10px;
        }
    }
    .text-input{
        position: relative;
        display: inline-flex;
        margin-top: 60px;
        text-align: center;
        width: 100%;
        font-family: $font;
        p{
            font-size:30px;
            position: relative;
            margin-left: 20%;
            margin-top:30px;
        }
        textarea{
            position: relative;
            height: 60px;
            width:40%;
            background-color: transparent;
            border-color:rgb(248, 102, 127);
            border-style:dotted;
            border-width: 2px;
            outline: none;
            padding: 10px 5px;
            left:15px;
        }
        span{
            position: absolute;
            width:30px;
            height: 25px;
            padding: 5px;
            background-color: pink;
            color:white;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            left:37%;
            top:-25%;
            z-index: 1;
        }
    }
}
#last-step{
    .col1{
        #book{
            left:calc(50% - 20%);
        }
    }
   
}
.eqs{
    position: relative;
    width:100%;
    text-align: center;
    margin-top: 10px;
    button{
        width:20%;
        outline:none;
        border:none;
        color:white;
        background-color: $btn-t;
        font-size: 17px;
        padding:8px;
        border-radius: 4px;
        margin-left:10px;
    }
    #add-cart{
        background-color: rgb(204, 44, 70);
        font-weight: bold;
        width:25%;
    }
}

@media screen and (max-width:550px){
.step{
    display: block;
    grid-template-rows: 50% 50%;
    .col2{
        p{
            padding:15px;
        }
    }
    .book{
        width:80%;
        left:calc(50% - 40%);
    }
    #book{
        left:calc(50% - 19.5%);
        &::before{
            content: " ";
            left:-80px;
        }
    }
    #book-left{
        left:calc(50% - 39.5%) ;
        &::before{
            content: " ";
            right:-95px;
            width:55%;
            height: 475px;
            top:10px;
           
        }
    }
}
.fc{
    position: relative;
    left:-10%;
    button{
        position: relative;
        left:40px;
    }
}

.last{
    .text-input{
       p{
           font-size: 18px;
           margin-left:9px;
           font-weight: bold;
       }
       textarea{
           height: 40px;
           width:45%;
       }
       span{
           left:41%;
           top:-20px;
       }
    }
}
.eqs{
    button{
        font-size: 14px;
        font-weight: bold;
        width:40%;
        margin-top:10px;
    }
    #add-cart{
        width:50%;
    }
}
  
}
